.contact{
    padding: 5rem 0;
    background-color: #fff;
}

.title{
    text-align: center;
    font-size: 1.5rem;
}

.title hr{
    width: 80px;
    padding: 0 30px;
    margin: 0 auto;
    border: 1px solid #000;
}

.title span{
    color: var(--danger-color);
}

.contact-form{
    grid-template-columns: repeat(2,1fr);
    padding-top: 70px;
}

.content{
    align-self: start;
}

.contact h3{
    font-size: 1.4rem;
}

.contact p{
    font-size: 20px;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: 70px 200px;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 20px;
}

.contact-wrapper > *:first-child{
    grid-row: 1/ span 2;
    align-self: center;
    justify-self: start;
}

.contact-wrapper span{
    font-size: 20px;
    font-weight: 600;
}

.contact-wrapper h3,
.contact-wrapper a{
    font-size: 20px;
    font-weight: 700;
}

.contact-wrapper h3:hover,
.contact-wrapper a:hover{
    color: var(--danger-color);
}

.heading{
    font-size: 1.4rem;
    margin-bottom: 20px;
}




@media screen and (max-width: 768px) {
    .contact-form{
        grid-template-columns: 1fr;
    }
}