:root{
  --bg-dark: #0f141e;
  --bg-light: #f9f9f9;
  --dark-color: rgba(15,20,30,0.8);
  --danger-color: #ea4343;
}

*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Josefin Sans',sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 0 20px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #000;
}

p{
  margin: 10px 0;
  font-weight: 500;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Josefin Sans', sans-serif;
}

.reveal{
  transform: translateY(200px);
  opacity: 0;
  transition: all 2s ease;
}

.show{
  transform: translateY(0px);
  opacity: 1;
}

.grid{
  display: grid;
  grid-template-columns: 3fr 4fr;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 100%;
  padding: 40px 0;
}

.active{
  color: var(--danger-color) !important;
}

.scroll-top{
  position: sticky;
  bottom: 20;
  right: 20;
  z-index: 100;
}




@media screen and (max-width: 768px){
  /* *{
    cursor: pointer;
  } */
  body{
    text-align: justify;
  }
  .grid{
    grid-template-columns: 1fr;
  }
}